.fancy-btn {
  border: transparent;
  overflow: hidden;
  position: relative;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 9999px;
  font-weight: 700;
  color: #ffffff;
  background: rgb(253, 45, 45);
  background: linear-gradient(
    90deg,
    rgba(253, 45, 45, 1) 0%,
    rgba(60, 63, 192, 1) 100%
  );
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  --transform-scale-x: 1.05;
  --transform-scale-y: 1.05;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.sparkles {
  display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
}

.inset-1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  --transform-scale-x: 0;
  --transform-scale-y: 0;
  opacity: 0.1;
}

.inset-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 1000ms;
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }
  30%,
  70% {
    opacity: 0;
  }
}
